off.wav
on.wav
poweron.wav
boot_out.txt
.vscode/settings.json
lib/adafruit_lis3dh.mpy
lib/adafruit_thermistor.mpy
lib/neopixel.mpy
lib/adafruit_ble/__init__.mpy
lib/adafruit_ble/advertising/__init__.mpy
lib/adafruit_ble/advertising/adafruit.mpy
lib/adafruit_ble/advertising/apple.mpy
lib/adafruit_ble/advertising/standard.mpy
lib/adafruit_ble/attributes/__init__.mpy
lib/adafruit_ble/characteristics/__init__.mpy
lib/adafruit_ble/characteristics/float.mpy
lib/adafruit_ble/characteristics/int.mpy
lib/adafruit_ble/characteristics/stream.mpy
lib/adafruit_ble/characteristics/string.mpy
lib/adafruit_ble/services/__init__.mpy
lib/adafruit_ble/services/circuitpython.mpy
lib/adafruit_ble/services/microbit.py
lib/adafruit_ble/services/midi.mpy
lib/adafruit_ble/services/nordic.mpy
lib/adafruit_ble/services/sphero.mpy
lib/adafruit_ble/services/standard/__init__.mpy
lib/adafruit_ble/services/standard/device_info.mpy
lib/adafruit_ble/services/standard/hid.mpy
lib/adafruit_ble/uuid/__init__.mpy
lib/adafruit_bluefruit_connect/__init__.mpy
lib/adafruit_bluefruit_connect/_xyz_packet.mpy
lib/adafruit_bluefruit_connect/accelerometer_packet.mpy
lib/adafruit_bluefruit_connect/button_packet.mpy
lib/adafruit_bluefruit_connect/color_packet.mpy
lib/adafruit_bluefruit_connect/gyro_packet.mpy
lib/adafruit_bluefruit_connect/location_packet.mpy
lib/adafruit_bluefruit_connect/magnetometer_packet.mpy
lib/adafruit_bluefruit_connect/packet.mpy
lib/adafruit_bluefruit_connect/quaternion_packet.mpy
lib/adafruit_bus_device/__init__.py
lib/adafruit_bus_device/i2c_device.mpy
lib/adafruit_bus_device/spi_device.mpy
lib/adafruit_circuitplayground/__init__.mpy
lib/adafruit_circuitplayground/bluefruit.mpy
lib/adafruit_circuitplayground/circuit_playground_base.mpy
lib/adafruit_circuitplayground/express.mpy
lib/adafruit_gizmo/__init__.py
lib/adafruit_gizmo/eink_gizmo.mpy
lib/adafruit_gizmo/tft_gizmo.mpy
lib/adafruit_hashlib/__init__.mpy
lib/adafruit_hashlib/_md5.mpy
lib/adafruit_hashlib/_sha1.mpy
lib/adafruit_hashlib/_sha224.mpy
lib/adafruit_hashlib/_sha256.mpy
lib/adafruit_hashlib/_sha384.mpy
lib/adafruit_hashlib/_sha512.mpy
lib/adafruit_hid/__init__.mpy
lib/adafruit_hid/consumer_control_code.mpy
lib/adafruit_hid/consumer_control.mpy
lib/adafruit_hid/gamepad.mpy
lib/adafruit_hid/keyboard_layout_us.mpy
lib/adafruit_hid/keyboard.mpy
lib/adafruit_hid/keycode.mpy
lib/adafruit_hid/mouse.mpy
System Volume Information/IndexerVolumeGuid
